
.body-audiovisual{

    width: 99vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
    background-color: #96B1A8;

}

.ilha-audivisual{
    padding-top: 5%;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #C6E0D9;

}

.asset-ilhaAudivisual{

    width: 100vw;

}

.title-audivisual{
    padding-top: 5%;
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    color: #FCF4DF;
    padding-bottom: 10%;

}

.navbar-container-trilhas{

    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    margin-bottom: .5rem;
    border: 1px solid;
   
}

.listaProjetos-trilhas{
        -webkit-column-count: 4;
        -moz-column-count: 2;
        -o-column-count: 2;
        column-count: 2;  

}

.filterList-trilhas{

    height: 100vw;
    max-width:50px;
    border: 1px solid;

}

.body-container-trilhas{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    border: 1px solid;

}