.bodyEdit{
    background-color: #92ADA4;
    width: 100%;
 }

.mainEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
}
.headerEdit {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #940203;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}
 
.editarProjeto{
    font-size: 3rem;
    
    font-weight: bolder;
    margin: 2rem 20rem 3rem;
    text-align: center;
    color: black;
}
 
.text{
    text-align: left;
    margin-top: 30px;
    width: 40%;
    display: flex;
    align-items: flex-start;
 }
 
.title{
    font-size: 25px;
    color: black;
    font-weight:500;
    margin: 1rem 0rem 3rem;
    text-align: center;
 }

.textInput{
    border: 1px solid black;
    margin-bottom: 2rem;
    margin-top: 0.3rem;
    width: 90%;
    padding: 0.3rem;
    border-radius: 6px
}

.checkdiv{
    display: flex;
    width: 90%;
    margin: 2rem 0;
}

#finalizado{
    width: 1.3rem;
}

.labelText{
    color: black;
    font-size: large;
    margin: 0 2rem 0 0 ;
}

#salvar{
    background-color: black;
    color: white;
    padding: 0.5rem 0rem;
    width: 90%;
    margin: 0.5rem 0 3rem;
    border-radius: 12px;
    font-weight: bold;
}