@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }

.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #C6E0D9;
}

.body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    gap: 3.5rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #940203;
    width: 100%;
    justify-content: space-between;
    font-weight: 600;
    color: #FCF4DF;
    padding: 0 14rem 0 12rem;
}

.header-trilhas {
    display: flex;
    gap: 2rem;
}

.logo{
    width: min-content;
}

.carrossel {
    margin-top: 2rem;
    width: 70%;
    margin-bottom: 6rem;
}

.carrosselAdmin{
    margin-top: 2rem;
    width: 70%;
    margin-bottom: 0rem;
    position: relative;
    z-index: 1;
}

.ondaAdmin{
    width: 100%;
    position:relative;
    z-index: 0;
    bottom: 0;
}



.personagem {
    margin-bottom: 6rem;
    width: 70%;
    position: relative;
    z-index: 0;
}

.trilhas {
    width: 100%;
    padding: 0 15rem;
    background-image: url('../assets/onda_semfundo.svg');
    background-size: cover; /* A imagem cobre toda a área da div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}

.trilhas-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.trilhas h2 {
    color: #940203;
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.trilhas-container img {
    width: 14rem;
    height: auto;
    cursor: pointer;
}

.projetos-container {
    padding: 5rem 15rem 0 15rem;
    background-color: #92ADA4;
}

.projetos-containerAdmin{
    padding: 0rem 15rem 0 15rem;
    background-color: #92ADA4;
}

.navbar-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: .5rem;
}

.filter-feedback {
    margin-bottom: 3rem;
}

.left-filter {
    display: flex;
    flex-direction: column;
    width: 12rem;
}

.filter-projetos {
    display: flex;
}

.projetos-title h2 {
    color: #940203;
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 2.5rem;

    position: relative;
    z-index: 1;
}


.listaProjetos {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    
}

.card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    margin-bottom: 1.5rem;
}

.Button_SM{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .Button_SM_details{
 
    font-size: 14px;
    border: 1px solid;
    padding: 10px 10px;
    border-radius: 15px;
     
 }
 
 .button_Editar:hover{
     transition-duration: 0.2s;
     scale: 1;
 }
 


/* .card {
    padding: .3rem;
} */
/* 
.card-body {
    padding: .3rem;
}
 */
