
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body-container {
    display: flex;
    flex-direction: column;
    padding: 0rem 15rem;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    gap: 3.5rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(178, 178, 178);
    width: 100%;
    padding: 0rem 10rem;
    justify-content: center;
}

.logo{
    width: min-content;
}

.carrossel {
    width: 100%;
    margin-bottom: 6rem;
}

.trilhas-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6rem;
}

.trilhas-container img {
    width: 14rem;
    height: auto;
    cursor: pointer;
}


.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.filter-feedback {
    margin-bottom: 3rem;
}


.listaProjetos {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    
}

.card {
    width: 100%;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    margin-bottom: 1.5rem;
}

.Button_SM{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .Button_SM_details{
 
    font-size: 14px;
    border: 1px solid;
    padding: 10px 10px;
    border-radius: 15px;
     
 }
 
 .button_Editar:hover{
     transition-duration: 0.2s;
     scale: 1.1;
 }
 
 
 .Button_SM_details:hover{
      transition-duration: 0.2s;
      scale: 1.2;
     
 }


/* .card {
    padding: .3rem;
} */
/* 
.card-body {
    padding: .3rem;
}
 */
