.LoginBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #96B1A8 ;
}

.LoginForm{
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Loginlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0 1rem 0;
} 

.Loginlogo > img {
    width: 200%;
}


.LoginInputEmail{
    width: 80%;
    background-color: rgb(230,230,230);
    height: 2.5rem;
    border-radius: 0.4rem;
    padding-left: 2.3rem;
    background-image: url("../assets/profileiIcon.png") ;
    background-repeat: no-repeat;
    background-position: 0.7rem;
}

.LoginInputSenha{
    width: 80%;
    background-color: rgb(230,230,230);
    height: 2.5rem;
    border-radius: 0.4rem;
    padding-left: 2.3rem;
    background-image: url("../assets/passwordIcon.png");
    background-repeat: no-repeat;
    background-position: 0.7rem;
    background-size: 16px;
}

.InputLabel{
    font-size: large;
    font-weight: bold;
    align-self:start;
    padding-left: 4rem;
    padding: 2rem 0rem 0.3rem 3.9rem;
}

.naoSouAdm{
    margin: 2rem 0 2.5rem 0;
    color: black;
    font-size: large;
    text-decoration: underline;
}

.LoginButton{
    height: 3.5rem;
    width: 50%;
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.LoginErrado{
    color: rgb(255, 0, 0);
    font-size: large;
    font-weight: bolder;
    margin: 1.5rem 0 0rem 0;
    position: relative;
    z-index: 1;
}


.ondaLogin{
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
}