.feedback-container{
    display: flex;
    align-items: start;
    gap: 5rem;
    width: 100%;
}

.feedback-container h1 {
    background-color: #B31717;
    padding: .25rem .75rem;
    color: white;
    border-radius: 15px;
}